* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 82.5%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  line-height: 1.7;
  background-color: #777;
  min-width: 924px;
}

header {
  background-color: greenyellow;
  height: 55px;
  width: 1200px;
  margin: 0 auto;
}

main {
  width: 1200px;
  margin: 0 auto;
  background: silver;
}

li {
  display: inline-block;
  position: relative;
  height: 10px;
  padding: 8px;
  font-weight: 700;
  font-size: 16px;
  left: 950px;
  right: 0px;
}

a:link {
  list-style-type: none;
}

a:hover,
a:active {
  color: red;
}

.main_heading {
  display: block;
  margin: 0 0 20px 0;
  text-transform: uppercase;
  height: 50px;
  text-align: center;
  color: white;
}

.figure_image {
  position: relative;
  width: 450px;
}

img {
  position: relative;
  display: block;
  width: 350px;
  left: 425px;
}

.gings_quote {
  padding: 20px;
  margin-top: 10px;
  font-size: 16px;
  color: white;
  background-color: black;
}

.figure_caption {
  display: block;
  position: relative;
  left: 525px;
  font-weight: 600;
}

.section_description {
  height: 270px;
  background-color: yellowgreen;
  text-align: center;
  padding: 50px;
  font-weight: 700;
}

.section_form {
  height: 270px;
}

.form_heading {
  height: 50px;
  text-align: center;
  padding: 20px;
  margin: 0 0 15px 0;
  color: white;
}

.contact_form {
  height: 100px;
  text-align: center;
  padding: 12px 0 12px 0;
}

.section_footer {
  width: 1200px;
  height: 55px;
  margin: 0 auto;
  text-align: center;
  background: yellowgreen;
}

.footer_text {
  position: relative;
  top: 25px;
  font-weight: 700;
}
